@using ApiStudyBuddy.Models;
@model DeckgroupDeckFlashcardViewModel

@{
    ViewData["Title"] = "DeckGroupDetails";
    Layout = "~/Views/MyStudies/_studiesLayout.cshtml";
}

<h1 style="color: #005baa;">Deckgroup Details</h1>
<br />
<div>
    <h3 style="border: 2px #005baa;">@Model.DeckGroup.DeckGroupName</h3>
    <p>  @Model.DeckGroup.DeckGroupDescription</p>
</div>

<p>  Creator: @Model.User.Username 
@{
    if (Model.Decks.Count > 5)
    {
        <a asp-controller="MyStudies" asp-action="DeckGroups" role="button" class="btn btn-secondary" style="float:right">I'm Done</a>
    }
}
</p>

<body>  
    <div class="form-control">
        <h3 style="color: #005baa;">Decks</h3>
        <ol>
            @{
                foreach (var item in Model.Decks)
                {
                    <li>
                        <h4>
                            @item.DeckName &nbsp;&nbsp; <button id="deleteDeckGroupDeck-btn" type="button" class="btn btn-outline-danger" onclick="@item.DeckId" data-bs-toggle="modal" data-bs-target="@("#DeleteDeckGroupDeck-" + @item.DeckId)">Remove Deck</button>
                        </h4>
                        <div class="modal fade" id="DeleteDeckGroupDeck-@item.DeckId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form asp-action="DeleteDeckGroupDeck" asp-controller="MyStudies" method="post">
                                        <input asp-for="DeckGroupId" type="hidden" value="@Model.DeckGroup.DeckGroupId" />
                                        <input asp-for="DeckId" type="hidden" value="@item.DeckId" />
                                        <div class="modal-header bg-warning">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Removing Deck</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h2>
                                                Are you sure you want to remove <b style="color: #005baa;">@item.DeckName?</b>
                                            </h2>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ul>
                            <h4 style="color: #005baa;">FlashCards</h4>
                            @foreach (var fc in Model.DeckFlashCards)
                                {
                                    if (fc.DeckId == item.DeckId)
                                    {
                                    <li>
                                        <b>@fc.FlashCard.FlashCardQuestion</b>
                                            <ul>
                                            <li>
                                            <p style="color: #005baa;">@fc.FlashCard.FlashCardAnswer</p>
                                            </li>
                                        </ul>
                                    </li>
                                    }
                                }
                            </ul>              
                    </li>
                }
            }
            
        </ol>
    </div>
</body><br />
<footer>
    <div class="form-horizontal">
        <a asp-controller="MyStudies" asp-action="DeckGroupDeck" asp-route-id="@Model.DeckGroup.DeckGroupId" role="button" class="btn btn-primary">Create a Deck</a>
        @{
            if (Model.Decks.Count < 5)
            {
                <a asp-controller="MyStudies" asp-action="DeckGroups" role="button" class="btn btn-secondary">I'm Done</a>
            }
        }
    </div>
</footer>
