@model IEnumerable<ApiStudyBuddy.Models.DeckGroup>

@{
    ViewData["Title"] = "DeckGroups";
    Layout = "~/Views/MyStudies/_myStudiesLayout.cshtml";
}

<h1>DeckGroups</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeckGroupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeckGroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeckGroupDescription)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
              <tr>
                   <td>
                        @Html.DisplayFor(modelItem => item.DeckGroupId)
                   </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.DeckGroupName)
                   </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.DeckGroupDescription)
                   </td>
                   <td>
                        @Html.ActionLink("Edit", "Edit", new {id=item.DeckGroupId}) |
                        @Html.ActionLink("Details", "Details", new {id=item.DeckGroupId} ) |
                        @Html.ActionLink("Delete", "Delete", new {id=item.DeckGroupId})
                   </td>
             </tr>
        }
    </thead>
</table>