@model IEnumerable<ApiStudyBuddy.Models.FlashCard>

@{
    ViewData["Title"] = "Flashcards";
    Layout = "~/Views/MyStudies/_myStudiesLayout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<h1 style="color: #005baa;">Shared by other users</h1>
<div class="form-check-inline pull-right">
    <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Flashcard question..." title="Type in a name">
</div>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlashCardId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlashCardQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlashCardAnswer)
            </th>
            <th>

            </th>
        </tr>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlashCardId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlashCardQuestion)              
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlashCardAnswer)
                </td>
                <td>
                    <a asp-controller="MyStudies" asp-action="AddToDeck" class="btn btn-primary" asp-route-id="@item.FlashCardId">View</a>  
                </td>
                   
            </tr>
        }
    </thead>
</table>

@section scripts {
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

}
