@model IEnumerable<ApiStudyBuddy.Models.Deck>
@{
    ViewData["Title"] = "Decks";
    Layout = "~/Views/MyStudies/_adminStudiesLayout.cshtml";
}

<h1>All Decks</h1>

<table class="table">
    <Thead>
        <tr>
            <th style="color: darkblue;">Deck ID</th>
            <th style="color: darkblue;">Deck Question</th>
            <th style="color: darkblue;">Deck Answer</th>
            <th style="color: darkred;">Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DeckId)</td>
                <td>@Html.DisplayFor(modelItem => item.DeckName)</td>
                <td>@Html.DisplayFor(modelItem => item.DeckDescription)</td>
                <td>
                    <a asp-controller="MyStudies" asp-action="DeckDetails" asp-route-id="@item.DeckId" class="btn btn-outline-primary" role="button">Details</a> |
                    <a asp-controller="MyStudies" asp-action="EditDeck" asp-route-id="@item.DeckId" class="btn btn-outline-primary" role="button">Edit</a> |
                    <button type="button" class="btn btn-outline-danger" onclick="@item.DeckId" data-bs-toggle="modal" data-bs-target="@("#DeleteBackdrop-" + @item.DeckId)">
                        Delete
                    </button>

                    <!-- Delete -->
                    <div class="modal fade" id="DeleteBackdrop-@item.DeckId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form asp-action="DeleteDeck" asp-controller="MyStudies" asp-route-id="@item.DeckId" method="post">
                                    <div class="modal-header bg-warning">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Deleting Deck</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h2>
                                            Are you sure you want to delete Deck <b style="color: #005baa;">@item.DeckName?</b>
                                        </h2>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </Thead>
</table>